USE [master]
GO
/****** Object:  Database [manage]    Script Date: 07/13/2017 16:36:27 ******/
CREATE DATABASE [manage] ON  PRIMARY 
( NAME = N'manage', FILENAME = N'D:\systemInstall\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\manage.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'manage_log', FILENAME = N'D:\systemInstall\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\manage_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [manage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [manage]
GO
/****** Object:  Table [dbo].[studentcourse]    Script Date: 07/13/2017 16:36:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studentcourse](
	[Sno] [nvarchar](50) NULL,
	[Cno] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 07/13/2017 16:36:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[Sno] [nvarchar](50) NULL,
	[Spassword] [nvarchar](50) NULL,
	[Sname] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course]    Script Date: 07/13/2017 16:36:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[Cno] [nvarchar](50) NULL,
	[Cname] [nvarchar](50) NULL
) ON [PRIMARY]
GO
